{% extends "base.html" %}

{% block title %}Piloti - F1API{% endblock %}

{% block content %}
    <h1>Piloti</h1>
    {% if error %}
        <div style="color:red;">Error: {{ error }}</div>
    {% endif %}

    {% if items and items|length > 0 %}
        <table>
            <thead>
                <tr>
                    {% for col in cols %}
                    {% if col != "team_colour" %}
                    <th>{{ col_tradotto[col] }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    {% set row_color = item.get('team_colour')|safe_color if item.get('team_colour') else "" %}
                    {% if (item.get('headshot_url') or item.get('last_name') == "Colapinto") %}
                        {% if item.get('full_name') and item.get('first_name') and item.get('full_name').split(' ')[0] == item.get('first_name') %}
                            <tr {% if row_color %}style="background: linear-gradient(var(--card) 90%, {{ row_color }})"{% endif %}>
                                {% for col in cols %}
                                    {% if col == "driver_number" %}
                                        <td><a href="/drivers/{{ item.get(col) }}" {% if row_color %}style="color: {{row_color}};"{% endif %}>{{ item.get(col) }}</a></td>
                                    {% else %}
                                        {% if col != "team_colour" %}
                                            {% if col == "headshot_url" %}
                                                <td><img class="headshot" src="{{ item.get(col) }}" alt="Headshot" width="93"></td>
                                            {% else %}
                                                <td>{{ item.get(col) }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items to display.</p>
    {% endif %}
{% endblock %}