{% extends "base.html" %}

{% block title %}Races - F1API{% endblock %}

{% block content %}
  <h1>Races</h1>
  {% if error %}
    <div style="color:red;">Error: {{ error }}</div>
  {% endif %}

  {% if items and items|length > 0 %}
    {% set cols = items[0].keys() %}
    <table>
      <thead>
        <tr>
          {% for col in cols %}
            {% if col != "session_type" %}
                <th>{{ col }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            {% for col in cols %}
              {% if col != "session_type" %}
                <td>{{ item.get(col) }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No items to display.</p>
  {% endif %}
{% endblock %}
